<html>
  <head>
    <title>Blog</title>
    {% load url from future %}
  </head>
  <body>
    <h1>Welcome to your blog</h1>
    {% if not user.is_authenticated %}
      <h3><a href="signup">Signup</a></h3>
      <h3><a href="login">Login</a></h3>
    {% else %}
      <h3><a href="{% url 'logout' %}">Logout</a></h3>
      <p>Welcome {{user.username}}</p>
      <h3><a href="create_post">New post</a></h3>
    {% endif %}
      <h3><a href="{% url 'rss' blog_id %}">RSS Feed</a></h3>
      <p>Posts list:</p>
      {% for post in posts %}
          <p><a href="posts/{{post.id}}">{{ post.title }}</a></p>
          <p>{{post.get_body_capped }}<p/>
          <p>created: {{post.ctime}}</p>
          <p>last modified: {{post.mtime}}</p>
      {% endfor %}
      {% if posts.has_previous %}
          <a href="?page={{ posts.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
          Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
      </span>
      {% if posts.has_next %}
          <a href="?page={{ posts.next_page_number }}">next</a>
      {% endif %}

  </body>
</html>
